Repository esmf-org/esmf, pull requests merged in 2025-07, with the labels that each got.

#446 Improve unit testing of multiple DEs per PET for ESMPy Grids
  src/addon/esmpy/examples/cubed_sphere_to_mesh_regrid.py
  src/addon/esmpy/src/esmpy/test/test_api/test_grid.py
  src/addon/esmpy/src/esmpy/util/field_utilities.py
  src/addon/esmpy/src/esmpy/util/grid_utilities.py
Labels: ESMPy

#457 Implement a work-around for IFX bug in version 2025.0.0.
  src/Infrastructure/Util/src/ESMF_UtilCubedSphere.F90
Labels: porting

#456 Improve documentation on setting ESMFMKFILE for ESMPy
  src/addon/esmpy/doc/install.rst
Labels: documentation, ESMPy

#459 Fix problem when ESMF_RUNTIME_ABORT_LOGMSG_TYPES is set in the environment
  src/Infrastructure/Util/src/ESMF_LogErr.F90
Labels: bug
